[Unit]
Description=dockerized vlc-nox 
Requires=docker.service                                                                                                                           
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f vlc-nox
ExecStartPre=-/usr/bin/docker pull aaaler/vlc-nox-pi:newest
ExecStart=/usr/bin/docker run --memory 70M --restart=unless-stopped --name vlc-nox -p 4212:4212 -p 8011:8011 aaaler/vlc-nox-pi:newest -I telnet --clock-jitter 0 --network-caching 2000 --sout-mux-caching 2000 --telnet-password admin --telnet-port 4212 --telnet-host 0.0.0.0
ExecStartPost=/bin/sh -c 'while ! docker ps |grep vlc-nox ; do sleep 0.2; done'
ExecStop=/usr/bin/docker rm -f vlc-nox
TimeoutSec=0
RemainAfterExit=no
Restart=always

[Install]
WantedBy=multi-user.target
